{% extends "cb_header.html" %}
{% block body %}

    <div class="container">
      <div class="jumbotron jumbotron-cb">
        <h1>Add Comic Page</h1>
      </div>
    </div>

    <form action="{{ url_for('cb_add_comic_page') }}" method="POST">

      <table class="table_new" align="center">
        <thead>
          <h3>Comic Information</h3>
        </thead>
        <tbody>
          <tr>
            <td align="right">Volume Name: </td>
            <td align="left">
              <select name=volume_dropdown>
                {% for volume in volumes %}
                  {% if volume[1] == "" %}
                    <option value={{ volume[2] }}>{{ volume[0] }}</option>
                  {% else %}
                    <option value={{ volume[2] }}>{{ volume[0] }} V{{ volume[1] }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td align="right">Issue Number:
            <td align="left">
              <input type="text" name="issue_number"></input><br>
            </td>
          </tr>
          <tr>
            <td align="right">Arc:
            <td align="left">
              <input type="text" name="arc"></input><br>
            </td>
          </tr>
          <tr>
            <td align="right">Title:
            <td align="left">
              <input type="text" name="title"></input><br>
            </td>
          </tr>
          <tr>
            <td align="right">Price:
            <td align="left">
              <input type="text" name="price"></input><br>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td align="left">
              <input type="submit" value="Submit" /><br>
            </td>
          </tr>
        </tfoot>
      </table>


    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <script>
      function valForm() {
        var name = document.forms["submit_form"]["issue_name"].value;
        var num = document.forms["submit_form"]["issue_number"].value;
        var vol = document.forms["submit_form"]["volume"].value;

        if (name == "" || vol == "" || num == "") {
          window.alert("Issue Name, Issue Number, and Volume must all be filled out.");
          return false;
        }
      }
    </script> -->

{% endblock %}
