{% extends "mw_header.html" %}
{% block body %}

  <h1>This is the projects page</h1>

  <h3>Personal Projects</h3>

  comicBase - comic book database
  <br>

  Starfighter - game I made in Java, summer 2016

  <br> <br>

  <h3>School Projects</h3>


{% endblock %}
